@charset "UTF-8";

/*기본*/
* { margin:0; padding:0; box-sizing: border-box; }
li { list-style:none; }
a { text-decoration:none; }
img { border:0; }

body { font-family:vendura,"맑은 고딕",sans-serif; font-size:; background:#000}

#page { width:500px; margin:20px auto; background:tan; }
h1 { width:54px; height:62px; margin:auto; 
	background:url("logo.gif") no-repeat center center;
	text-indent:-9999px; padding:30px 0; }

form {overflow:hidden; margin-top:30px; padding:10px 50px;}
label{ display:block; color:#fff; font-size:24px; margin:10px 0 5px;}

input[type="text"], input[type="password"]{ background:#fce4c5; width:100%; padding:5px; border:0;
	font-size:24px; border-radius:5px; }

input[type="text"]:focus, input[type="password"]:focus{ outline:none; background:#fff;}

input[type="text"]{}
input[type="password"]{}
input[type="submit"]{ background:red; color:#ffccff; padding:10px; border:none;
border-radius:10px; font-size:18px; margin-top:20px; float:right; cursor:pointer;}

input[type="submit"]:hover{position:relative; top:-3px; background:#ff33cc; color:#fff;}

#feedback {background:url('warning.png') no-repeat left 4px; color:#fff; padding-left:20px;}