@charset "UTF-8";

/*기본*/
* { margin:0; padding:0;  }
li { list-style:none; }
a { text-decoration:none; }
img { border:0; }
ul::after{ display: block; content: ''; clear:both;}

body { font-family:'NanumGothic','맑은 고딕',sans-serif; }

.on a{ background:blue; }
ul:after { display: block; content:''; clear: both;}

header {display: none;
        position: fixed;
        left:0; top:0; 
        width: 100%; 
        height: 80px; 
        background: rgb(255, 255, 255,0.7);
        z-index: 1000;
}
header h1 {position: absolute;
            left:50%; top:15px; 
            margin-left: -500px; 
            color:#fff; 
            border:1px solid black; 
}
header .nav {position: absolute; 
            right:50%; 
            margin-right: -500px; 
            border:1px solid black;
}
header .nav li { float: left;}
header .nav a { display: block; 
                padding: 0 15px; 
                line-height: 80px; 
                color: #000; }
header .nav a:hover { background: #fff;}

header .nav li.on a { background: pink;}


#s2, #s3,#s4,#s5,#s6 {  padding: 100px; } /*총 높이 700px */
#s1 {background:rgb(226, 109, 0); overflow: hidden; }
#s2 { background: url(../img/bg_pattern2.jpg);}
#s3 {background:#004D9D; height: 700px;}
#s4 {}
#s5 {background: rgb(129, 156, 97); height: 650px;}
#s6 {background: rgb(156, 147, 97); height: 704px;}


#s2 .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between; 
       /*  background-color: DodgerBlue; */
}
#s2 .inner > p{position: relative;
                background-color: #f1f1f1; 
                margin: 10px;
                padding: 50px;
                font-size: 30px;
                overflow:hidden;
}
#s2 img { width:200px; height: 405px;}
#s2 strong { position: absolute; bottom: -10px; left:5%; font-size: 5em; color: #ccc; transform: rotate(10deg);
}

#s3 .inner{ width:100%; display:block; content:''; clear:both; }
#s3 .inner div {float :left; width:50%;}
#s3 table { width: 90%;}
#s3 table, th, td {
  border: 1px solid #fff;
  border-collapse: collapse;
  color: #fff;
  padding: 15px;
}
#s3 .inner p { text-align:left; line-height: 1.6; color: #fff;}
#s3 h4 { padding: 20px 0; color: #fff;}
        .evImg { text-align: center; width: 888px; margin:0 auto;  border: 1px solid black; padding: 30px; margin-bottom: 60px;}



#s4 .inner { overflow: hidden; width:1160px; margin:0 auto; background: #fff;}
/*#s4 .inner p { position: relative; float: left; width:500px; height: 400px; margin-right: 20px; margin-top: 20px;}*/
#s4 .inner p { float: left; 
        width:560px; height: 315px; 
        margin-top: 50px;
        margin-right: 20px; 
 
        text-align: center;}
/*
#s4 .inner p:first-child { margin-top: 0;}
#s4 .inner p:nth-child(2) { margin-top: 0;}
#s4 .inner p:nth-child(2n) { margin-right: 0;}
*/
 #s4 .inner p:nth-child(2n) { margin-right: 0;}
#s4 img { width:100%; height: 100%;}
#s4 iframe {width:100%; height:100%; }

#s4 h2{color: #000;}

#s4 .menu {}
#s4 .menu li { float:left; height: 10px; width:50px; background: #ccc;}
#s4 .menu li a {display: inline-block; padding: 10px;
        color: #000; }
#s4 .menu a:hover, .menu a.on { background:blue; } /* color class = on */



/* #videoBg {position: absolute; top:50%; left: 50%; 
        transform: translate(-50%, -50%);
         max-height: 100%;
} 이미지 가운데로 */

#videoBg {width:100%; height: auto;}

 @keyframes tDrop {
        from{top:-50px;} to {top:20%;}
}

@keyframes tP {
        0% {opacity: 0;} 100% {opacity: 1;}
}



.introTitle { position: absolute; 
                top:20%; left:50%; margin-left: -188px;
                 animation: tDrop 2s; 
}
.introTitle h1 { color: #fff; font-size:60px; border: 2px solid #fff; padding: 20px; margin-bottom: 10px;}
.introTitle p {color:#fff; 
                 animation: tP 2s infinite; 
}

section h2 { font-size: 40px; color: #fff;
}


footer { height:50px; 
        line-height :50px; 
        background:  #292929; 
        text-align: center;
 }

 footer a{color: #ddd; }

 /* btn_box */
 #btn_box {  position: fixed; 
                right: 30px;  top:40%;
                border:1px solid black;
                z-index: 900;}
 #btn_box li{  margin-bottom: 10px;}
 #btn_box a { display: block; 
                width: 20px; height: 20px;
                border: 1px solid #000000;
                background: rgb(0, 0, 0,0.3); 
                border-radius: 50%;
                text-indent: -9999px;
        }
 #btn_box li.on a{ background:#000000; }